VITE_FIREBASE_API_KEY=AizaSyCjH-LzO8ofNNCxragctsi4TW3cjxcc5ds
VITE_FIREBASE_AUTH_DOMAIN=reactjs-text.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=reactjs-text
VITE_FIREBASE_STORAGE_BUCKET=reactjs-text.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=960697145755
VITE_FIREBASE_APP_ID=1:960697145755:web:9fbd77ebbfdf7c905f293e